{% extends "layouts/agent-main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}


    <form class="form" action="assess-qb-decision" method="post">

  
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{{ govukDateInput({
  id: "dateOfClaim",
  namePrefix: "dateOfClaim",
  fieldset: {
    legend: {
      text: "Enter the qualifying benefit start date",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  }
}) }}
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
