{% extends "layouts/agent-main.html" %}

{% block pageTitle %}
  Edit claim information – {{ serviceName }}
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

  {% set noHtml %}
      {{ govukInput({
        id: "checkName",
        name: "checkName",
        classes: "govuk-!-width-two-thirds",
        label: {
          text: "NINO"
        }
      }) }}
    {% endset %}

    <form class="form" action="/check-name-dp-redirect" method="post">

  <h1 class="govuk-heading-l">
    Does [carer's full name]'s partner receive any of these income-based benefits?
  </h1>

  {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

  {{ govukCheckboxes({
    name: "partnerBenefits",
    hint: {
      text: "Select all that apply."
    },
    items: [
      {
        value: "income-support",
        text: "Income Support"
      },
      {
        value: "income-based-jsa",
        text: "Income-based Jobseeker's Allowance (JSA)"
      },
      {
        value: "income-related-esa",
        text: "Income-related Employment and Support Allowance (ESA)"
      },
      {
        value: "pension-credit",
        text: "Pension Credit"
      },
      {
        value: "universal-credit",
        text: "Universal Credit"
      },
      {
        value: "none",
        text: "None of these"
      }
    ]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}

</form>

{% endblock %}