{% extends "layouts/agent-main.html" %}

{% block pageTitle %}
  Fraud or CFEMS interest – {{ serviceName }}
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {{ govukRadios({
        idPrefix: "fraudInterest",
        name: "fraudInterest",
        fieldset: {
          legend: {
            text: "Is there a CFEMS interest or suspicion of fraud?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Check the relevant systems before making your selection."
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}