{% extends "layouts/agent-main.html" %}

{% block pageTitle %}
  Select the customer's qualifying benefit – {{ serviceName }}
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
{{ govukRadios({
  idPrefix: "qualifyingBenefit",
  name: "qualifyingBenefit",
  fieldset: {
    legend: {
      text: "What is the customer's qualifying benefit",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "AA",
      text: "Attendance Allowance (AA)"
    },
    {
      value: "CAA",
      text: "Constant Attendance Allowance (CAA)"
    },
    {
      value: "DLA",
      text: "Disability Living Allowance (DLA)"
    },
    {
      value: "DLA Lower",
      text: "Disability Living Allowance lower rate care component (DLA Lower)"
    },
    {
      value: "PIP",
      text: "Personal Independence Payment (PIP)"
    },
    {
      value: "CDP",
      text: "Child Disability Payment (CDP)"
    },
    {
      value: "ADP",
      text: "Adult Disability Payment (ADP)"
    }
  ]
}) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}