{% extends "layouts/agent-main.html" %}

{% block pageTitle %}
  Power of attorney – {{ serviceName }}
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

    <form class="form" action="check-relationship" method="post">


    <!-- {% set powerOfAttorneyHtml %}

      {{ govukRadios({
        idPrefix: "letterIssued",
        name: "letterIssued",
        fieldset: {
          legend: {
            text: "Have you issued a letter?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "No",
            text: "No"
          },
          {
            value: "Yes",
            text: "Yes"
          }
        ]
      }) }}

    {% endset %} -->

    {{ govukRadios({
      
      idPrefix: "powerOfAttorney",
      name: "powerOfAttorney",
      fieldset: {
        legend: {
          text: "Is there an appointee or power of attorney for the disabled person?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "Yes",
          text: "Yes"
        },
        {
          value: "No",
          text: "No"
        }
      ]
    }) }}

    {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}



    {{ govukButton({
      text: "Continue"
    }) }}

  </div>
</div>

{% endblock %}