{% extends "layouts/agent-main.html" %}

{% block pageTitle %}
  Edit claim information – {{ serviceName }}
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}


{% from "govuk/components/input/macro.njk" import govukInput %}


{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

    <h1 class="govuk-heading-l">
      Enter the claimant's full name
    </h1>

      {{ govukSelect({
        id: "customer-title",
        name: "customerTitle",
        label: {
          text: "Title"
        },
        items: [
          { value: "Ms", text: "Ms", selected: true },
          { value: "Mr", text: "Mr" },
          { value: "Mrs", text: "Mrs" },
          { value: "Miss", text: "Miss" },
          { value: "Dr", text: "Dr" }
        ]
      }) }}

      {{ govukInput({
        label: {
          text: "First name"
        },
        classes: "govuk-input--width-20",
        id: "first-name",
        name: "firstName",
        autocomplete: "name",
        spellcheck: false
      }) }}


            {{ govukInput({
        label: {
          text: "Middle name"
        },
        classes: "govuk-input--width-20",
        id: "first-name",
        name: "firstName",
        autocomplete: "lastname",
        spellcheck: false
      }) }}


            {{ govukInput({
        label: {
          text: "Last name"
        },
        classes: "govuk-input--width-20",
        id: "first-name",
        name: "firstName",
        autocomplete: "lastname",
        spellcheck: false
      }) }}



{{ govukButton({
  text: "Save"
}) }}

{% endblock %}