{% extends "layouts/agent-main.html" %}

{% block pageTitle %}
  Edit claim information – {{ serviceName }}
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}


    <form class="form" action="/phone-input-redirect" method="post">

{% set firstName = (data["first-name"] or "Melissa") | capitalize %}
{% set lastName = (data["last-name"] or "Gentles") | capitalize %}

{% if lastName | lower | last == "s" %}
  {% set possessiveName = firstName + " " + lastName + "'" %}
{% else %}
  {% set possessiveName = firstName + " " + lastName + "'s" %}
{% endif %}

<h1 class="govuk-heading-l">
  Check {{ possessiveName }} phone number
</h1>


      {{ govukSummaryList({
        classes: "govuk-summary-list--no-border",
        rows: [
          {
            key: {
              text: "Phone number"
            },
            value: {
              html: "07123 456789"
            }
          }
        ]
      }) }}

    
      <!-- {% set noHtml %}
        {{ govukInput({
          id: "searchlightPhoneNumber",
          name: "searchlightPhoneNumber",
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Phone number"
          }
        }) }}
      {% endset %} -->
      <p class="govuk-heading-m">
        Do you need to update this number?
      </p>
      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "phoneNumberMatch",
        items: [
          {
            value: "No",
            text: "No"
          },
          {
            value: "Yes",
            text: "Yes"
            
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}