{% extends "layouts/agent-main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}



      <form class="form" action="address-confirm-redirect" method="post">
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}


<div class="govuk-width-container">
  <h1 class="govuk-heading-l">Confirm address</h1>
  <p class="govuk-body">6 addresses found for <b>wr11nl</b> and <b>1</b>. <a href="#" class="govuk-link">Search again</a></p>

 {{ govukInsetText({
  html: (data['select-an-address'] or "1 Washington Street<br>Worcester<br>WR1 1NL")
         | replace(", ", "<br>")
}) }}

  {{ govukButton({
    text: "Use this address"
  }) }}
<!-- 
  <p class="govuk-body"><a href="#" class="govuk-link">Use a different address</a></p> -->
  <p class="govuk-body govuk-!-margin-bottom-0"><a href="check-address-manual" class="govuk-link">Enter address manually</a></p>
</div>
      </form>

    </div>
  </div>

{% endblock %}
