{% extends "layouts/agent-main.html" %}

{% block pageTitle %}
  Edit claim information – {{ serviceName }}
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

<form class="form" action="/check-rel" method="post">
      
    <h1 class="govuk-heading-l">
      Check the disabled person's relationship to the carer
    </h1>

    {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  classes: "govuk-summary-list--no-border",
  rows: [
    {
      key: {
        text: "Relationship"
      },
      value: {
        html: "Sister"
      }
    }
  ]
}) }}


    <p class="govuk-heading-m">Do you need to update the relationship?</p>

    {% set noHtml %}
      {{ govukInput({
        classes: "govuk-summary-list--no-border",
        id: "relationshipCheck",
        name: "relationshipCheck",
        classes: "govuk-!-width-two-thirds",
        label: {
          text: "NINO"
        }
      }) }}
    {% endset %}

    {{ govukRadios({
      classes: "govuk-radios--inline",
      name: "relationshipCheck",
      fieldset: {
        legend: {
          isPageHeading: false
        }
      },
      items: [
        {
          value: "No",
          text: "No"
        },
        {
          value: "Yes",
          text: "Yes"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}

</form>

{% endblock %}