{% extends "layouts/agent-main.html" %}

{% block pageTitle %}
  Address mismatch – {{ serviceName }}
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}



  <form class="form" action="/check-address-redirect" method="post">
  
{% set firstName = (data["first-name"] or "Csarina") | capitalize %}
{% set lastName = (data["last-name"] or "Gentles") | capitalize %}

{% if lastName | lower | last == "s" %}
  {% set possessiveName = firstName + " " + lastName + "'" %}
{% else %}
  {% set possessiveName = firstName + " " + lastName + "'s" %}
{% endif %}

<h1 class="govuk-heading-l">
  Check {{ possessiveName }} address
</h1>


    {{ govukSummaryList({
      classes: "govuk-summary-list--no-border",
      rows: [
        {
          key: {
            text: "Address"
          },
          value: {
            html: "1 High Street<br>Manchester<br>M1 1AA"
          }
        }
        
      ]
    }) }}


    <!-- {
          key: {
            text: "DP address"
          },
          value: {
            html: "10 Market Road<br>Liverpool<br>L1 1BB"
          }
        } -->

    {{ govukRadios({
       classes: "govuk-radios--inline",
      name: "addressUpdateChoice",
      fieldset: {
        legend: {
          text: "Do you need to update this address?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "No",
          text: "No"
        },
        {
          value: "Yes",
          text: "Yes"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}

</div>
</form>

{% endblock %}