{% extends "layouts/agent-main.html" %}

{% block pageTitle %}
  Edit claim information – {{ serviceName }}
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}



    <form class="form" action="/check-partner-redirect" method="post">

{% set partnerDetailsHtml %}


{{ govukInput({
  label: {
    text: "First name"
  },
  id: "partnerFirstName",
  name: "partnerFirstName"
}) }}

{{ govukInput({
  label: {
    text: "Last name"
  },
  id: "partnerLastName",
  name: "partnerLastName"
}) }}

{{ govukInput({
  label: {
    text: "Date of birth"
  },
  hint: {
    text: "For example, 31 03 1980"
  },
  id: "partnerDob",
  name: "partnerDob"
}) }}

{{ govukInput({
  label: {
    text: "National Insurance number"
  },
  classes: "govuk-input--width-10",
  id: "partnerNino",
  name: "partnerNino"
}) }}

{% endset %}

{{ govukRadios({
  idPrefix: "hasPartner",
  name: "hasPartner",
  fieldset: {
    legend: {
      text: "Does the customer have a partner?",
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "No",
      text: "No"
    },
    {
      value: "Yes",
      text: "Yes"
    }
  ]
}) }}

<!-- {{ govukCheckboxes({
  name: "partnerConfirmed",
  items: [
    {
      value: "confirmed",
      text: "I have confirmed this information with the customer"
    }
  ]
}) }} -->

{{ govukButton({
  text: "Continue"
}) }}

</form>


{% endblock %}