{% extends "layouts/agent-main.html" %}

{% block pageTitle %}
  Address mismatch – {{ serviceName }}
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Check the disabled person's address
    </h1>

    </div>
    </div>


    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "disabled person address"
          },
          value: {
            html: "1 High Street<br>Manchester<br>M1 1AA"
          }
        }
      ]
    }) }}

    {{ govukRadios({
      name: "addressUpdateChoice",
      fieldset: {
        legend: {
          text: "Do you need to update the address?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "No",
          text: "No"
        },

        {
          value: "none",
          text: "Yes"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}

  </div>
</div>

{% endblock %}