{% extends "layouts/agent-main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}


  

      <form class="form" action="check-address-lookup-select-dp" method="post">

        {% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
<div class="govuk-width-container">

{% set firstNameDp = data["first-name-dp"]|capitalize or "Csarina" %}

{% set lastNameDp = data["last-name-dp"]|capitalize or "Gentles" %}

{% if lastNameDp | lower | last == "s" %}
  {% set possessiveName = firstNameDp + " " + lastNameDp + "'" %}
{% else %}
  {% set possessiveName = firstNameDp + " " + lastNameDp + "'s" %}
{% endif %}


<h1 class="govuk-heading-l">
  Enter {{ possessiveName }} address
</h1>


  {{ govukInput({
    label: {
      text: "Postcode"
    },
    classes: "govuk-!-width-two-thirds",
    id: "postcode",
    name: "postcode"
  }) }}

  {{ govukInput({
    label: {
      text: "Building number or name"
    },
    classes: "govuk-!-width-two-thirds",
    id: "searchString",
    name: "searchString"
  }) }}

  {{ govukButton({
    text: "Find address"
  }) }}
  <p class="govuk-body govuk-!-margin-bottom-0"><a href="check-address-manual-dp" class="govuk-link">Enter address manually</a></p>
</div>

      </form>

    </div>
  </div>

{% endblock %}
