{% extends "layouts/agent2.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}


  

      <form class="form" action="home" method="post">


      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      <h1 class="govuk-heading-l">Choose a decision</h1>

    {{ govukRadios({
      name: "decisionStart",
  items: [
    {
      value: "Allow",
      text: "Allow"
    
    },
    {
      value: "Disallow",
      text: "Disalow"
    
    }
  ]
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
