  {% extends "layouts/agent-main.html" %}
  {% block pageTitle %}
  CACSR Refactor Prototype
  {% endblock %}

  {% block content %}


  

      <h1 class="govuk-heading-xl">
        CACS-R Refactor Prototype
      </h1>

      {%from "govuk/components/tag/macro.njk" import govukTag %}
          {{govukTag({
            text: "Version 1.0 ",
            classes: "govuk-tag--green"
      })}}

      <br>

      
        <!-- <p class="govuk-body-l">
          <br> Agent-facing prototype for the refactored Carer's Allowance Claim and Case Service (CACS-R).
        </p>
        -->
        <br>

      <h2 class="govuk-heading-m">About this prototype</h2>

      <p class="govuk-body">
        This prototype contains designs and journeys currently under
        development. Content and functionality are subject to change based on
        user research and stakeholder feedback.
      </p>

      {{ govukAccordion({
        id: "version-history",
        items: [
          {
            heading: {
              text: "UR 1: Validation of Registration"
            },
            content: {
              html: "
                <ul class='govuk-list govuk-list--bullet'>
                  <b>July - August 2026</b>
                  <li>Set up of user journey selection</li>
                  <li>First iteration of claim registration for new claims</li>
                  <li>UR 1: Validation of registration question set</li>
                </ul>
                
              "
              
            }

          }
        ]
      }) }}

      {{ govukButton({
        text: "Start prototype",
        href: "index-scenario"
      }) }}

    </div>
  </div>

  {% endblock %}