  {% extends "layouts/agent-main.html" %}
  {% block pageTitle %}
  CACSR Refactor Prototype
  {% endblock %}

  {% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        CACSR Refactor Prototype
      </h1>

      {%from "govuk/components/tag/macro.njk" import govukTag %}
          {{govukTag({
            text: "Version 1.0 ",
            classes: "govuk-tag--green"
      })}}

      <br>

      
      <p class="govuk-body-l">
        <br> Agent-facing prototype for the refactored Carer's Allowance Claim and Case Service (CACS-R).
      </p>
      

      <h2 class="govuk-heading-m">About this prototype</h2>

      <p class="govuk-body">
        This prototype contains designs and journeys currently under
        development. Content and functionality are subject to change based on
        user research and stakeholder feedback.
      </p>

      {{ govukAccordion({
        id: "version-history",
        items: [
          {
            heading: {
              text: "Version 1 - July 2026"
            },
            content: {
              html: "
                <ul class='govuk-list govuk-list--bullet'>
                  <li>Set up of user journey selection</li>
                  <li>First iteration of claim registration for new claims </li>
                </ul>
              "
            }

          }
        ]
      }) }}

      {{ govukButton({
        text: "Start now",
        href: "index-scenario"
      }) }}

    </div>
  </div>

  {% endblock %}