{% extends "layouts/agent-main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="scenario" method="post">


      {% from "govuk/components/radios/macro.njk" import govukRadios %}

    {{ govukRadios({
      name: "personaSelection",
      fieldset: {
        legend: {
          text: "Choose a user type",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "New claims AO",
          text: "New claims AO"
        },
        {
          value: "New claims DM",
          text: "New claims DM"
        },
        {
          value: "New claims TL",
          text: "New claims TL"
        }
      ]
    }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
