{% extends "layouts/agent-main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
{% set dpFullName = [
  data['dpTitle'] or 'Ms',
  data['dpFirstName'] or 'Csarina',
  data['dpMiddleName'],
  data['dpLastName'] or 'Gentles'
] | reject('equalto', '') | join(' ') %}

{% set dpNino = data['dpNino'] or 'PJ 12 34 56 C' %}

{% set dpDob = data['dpDob'] or '1 January 2016' %}

{% set dpAddress = (
  data['select-an-address-dp']
  or '72 Guild Street<br>London<br>SE23 6FH'
) %}



      <form class="form" action="assess-poa" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      <h1 class="govuk-heading-l">Check disabled person's details</h1>



{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "National Insurance Number"
      },
      value: {
        text: dpNino
      }
    },
    {
      key: {
        text: "Full Name"
      },
      value: {
        text: dpFullName
      },
      actions: {
        items: [
          {
            href: "check-name-input-dp",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        text: dpDob
      }
    },
    {
      key: {
        text: "Address"
      },
      value: {
        html: (data['select-an-address-dp'] | replace(", ", "<br>"))
          or "12 Coin Street <br> Bradford<br> BD24 5D"
      },
      actions: {
        items: [
          {
            href: "check-address-lookup-c-dp",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    }
  ]
}) }}

<!-- <dl class="govuk-summary-list">
        
  
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            
              Ms Melissa Gentles
            
          </dd>
          
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            
              1
              January
              2000

              
                <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-4">
                  Verified
                </strong>
              
            
          </dd>
          
        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Phone number
          </dt>
          <dd class="govuk-summary-list__value">
            
              07537645322

          
              
            
          </dd>
          
        </div>
        
      </dl>
 -->





      <!-- 
      <p> Name: <b>Melissa Gentles</b></p>
      <p>National Insurance number: <b>NC 12 34 56 C</b></p>
      <p>Date of birth: <b>23 January 2003</b></p> -->
 
      <!-- <p class="govuk-heading-m"><b>Are these details correct?</b></p>
            
    {{ govukRadios({
      name: "validSelection",
  items: [
    {
      value: "No",
      text: "No"
    
    },
    {
      value: "Yes",
      text: "Yes"
    
    }
  ]
}) }} -->




        {{ govukButton({
          text: "Continue"
        }) }}
      </form>


{% endblock %}
