{% extends "layouts/agent-main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}


      <form class="form" action="/check-customer-redirect" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      <h1 class="govuk-heading-l">Check carer's details</h1>

      {% set fullName = (
  (data['customerTitle'] or 'Ms')
  + ' '
  + (data['first-name'] or 'Melissa')
  + ' '
  + (data['middle-name'] or '')
  + ' '
  + (data['last-name'] or 'Gentles')
)|trim %}


{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "National Insurance number"
      },
      value: {
        text: data['nationalInsuranceNumber'] or "PJ 12 34 56 C"
      }
    },
    {
  key: {
    text: "Full name"
  },
  value: {
    text: fullName
  },
  actions: {
        items: [{
          href: "check-name-input",
          text: "Change",
          visuallyHiddenText: "name"
        }]
      }
},
    {
      key: {
        text: "Date of birth"
      },
      value: {
        text: data['dateOfBirth'] or "5 January 1978"
      }
    },
    {
      key: {
        text: "Address"
      },
      value: {
        html: (data['select-an-address'] | replace(", ", "<br>"))
          or "12 Coin Street <br> Bradford<br> BD24 5D"
},
      actions: {
        items: [{
          href: "check-address-lookup-c",
          text: "Change",
          visuallyHiddenText: "address"
        }]
      }
    },

    {
      key: {
        text: "Phone number"
      },
      value: {
        text: data['phoneNumber'] or "07700 900457"
      },
      actions: {
        items: [{
          href: "check-phone-input",
          text: "Change",
          visuallyHiddenText: "contact details"
        }]
      }
    }
  ]
}) }}




<!-- <dl class="govuk-summary-list">
        
  
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            
              Ms Melissa Gentles
            
          </dd>
          
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            
              1
              January
              2000

              
                <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-4">
                  Verified
                </strong>
              
            
          </dd>
          
        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Phone number
          </dt>
          <dd class="govuk-summary-list__value">
            
              07537645322

          
              
            
          </dd>
          
        </div>
        
      </dl>
 -->





      <!-- 
      <p> Name: <b>Melissa Gentles</b></p>
      <p>National Insurance number: <b>NC 12 34 56 C</b></p>
      <p>Date of birth: <b>23 January 2003</b></p> -->
 
      <!-- <p class="govuk-heading-m"><b>Are these details correct?</b></p>
            
    {{ govukRadios({
      name: "validSelection",
  items: [
    {
      value: "No",
      text: "No"
    
    },
    {
      value: "Yes",
      text: "Yes"
    
    }
  ]
}) }} -->




        {{ govukButton({
          text: "Continue"
        }) }}

        <!-- <p class="govuk-body"><a href"">Search again</a></p> -->

      </form>


{% endblock %}
