{% extends "layouts/agent.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="home" method="post">


      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      <h1 class="govuk-heading-l">dependant details</h1>
      
        {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}


        {{ govukSummaryList({
          rows: [
          {
              key: {
                text: "National Insurance Number"
              },
              value: {
                text: "PJ 12 34 56 C"
              }
            },  
          {
              key: {
                text: "Title"
              },
              value: {
                text: "Ms"
              }
            },
            {
              key: {
                text: "Name"
              },
              value: {
                text: "Holly Jones"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Date of birth"
              },
              value: {
                text: "5 January 2005"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "date of birth"
                  }
                ]
              }
            },
            {
              key: {
                text: "Address"
              },
              value: {
                html: "72 Guild Street<br>London<br>SE23 6FH"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "address"
                  }
                ]
              }
            },
            {
              key: {
                text: "Relationship"
              },
              value: {
                html: '<p class="govuk-body">Child</p>'
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "relationship"
                  }
                ]
              }
            }
          ]
        }) }}

         <p>
          <a href="https://design-system.service.gov.uk">View previous dependants</a>
        </p>
<!-- 
        <p class="govuk-body">Check the details of the customer and the dependant before registering the claim </p> -->

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

  </div>

{% endblock %}
