{% extends "layouts/agent-main.html" %}

{% block pageTitle %}
  Check partner details – {{ serviceName }}
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

{% set partnerFullName = (
  (data['partnerTitle'] or 'Mr')
  + ' '
  + (data['partnerFirstName'] or 'Tom')
  + ' '
  + (data['partnerMiddleName'] or '')
  + ' '
  + (data['partnerLastName'] or 'Holland')
)|trim %}

{% set partnerNino = data['partnerNino'] or 'PJ 12 34 56 C' %}


        <form class="form" action="/partner-details-redirect" method="post">

    <h1 class="govuk-heading-l">
      Check partner details
    </h1>
{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "National Insurance number"
      },
      value: {
        text: partnerNino
      },
      actions: {
        items: [{
          href: "registration-partner-nino",
          text: "Change",
          visuallyHiddenText: "National Insurance number"
        }]
      }
    },
    {
      key: {
        text: "Full name"
      },
      value: {
        text: partnerFullName
      },
      actions: {
        items: [{
          href: "registration-partner-name",
          text: "Change",
          visuallyHiddenText: "full name"
        }]
      }
    }
  ]
}) }}
<!-- 

{% from "govuk/components/radios/macro.njk" import govukRadios %} -->
<!-- 
    <p class="govuk-heading-m">
        Do you need to update these details?
      </p>
      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "partnerDetailsCheck",
        items: [
          {
            value: "No",
            text: "No"
          },
          {
            value: "Yes",
            text: "Yes"
            
          }
        ]
      }) }} -->


    <form method="post">

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
