{% extends "layouts/agent-main.html" %}

{% block pageTitle %}
  Start processing claim – {{ serviceName }}
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

{% set completedStatus = {
  tag: {
    text: "Completed",
    classes: "govuk-tag--green"
  }
} %}

{% set inProgressStatus = {
  tag: {
    text: "In progress",
    classes: "govuk-tag--yellow"
  }
} %}

{% set notStartedStatus = {
  tag: {
    text: "Not started",
    classes: "govuk-tag--blue"
  }
} %}

{% if data['taskAStatus'] == 'completed' %}
  {% set taskAStatus = completedStatus %}
{% elseif data['taskAStatus'] == 'in-progress' %}
  {% set taskAStatus = inProgressStatus %}
{% else %}
  {% set taskAStatus = notStartedStatus %}
{% endif %}

{% if data['taskBStatus'] == 'completed' %}
  {% set taskBStatus = completedStatus %}
{% elseif data['taskBStatus'] == 'in-progress' %}
  {% set taskBStatus = inProgressStatus %}
{% else %}
  {% set taskBStatus = notStartedStatus %}
{% endif %}

{% if data['taskCStatus'] == 'completed' %}
  {% set taskCStatus = completedStatus %}
{% elseif data['taskCStatus'] == 'in-progress' %}
  {% set taskCStatus = inProgressStatus %}
{% else %}
  {% set taskCStatus = notStartedStatus %}
{% endif %}


{{ govukTaskList({
  idPrefix: "claim-tasks",
  items: [
    {
      title: {
        text: "Task A"
      },
      href: "registration-customer",
      status: taskAStatus
    },
    {
      title: {
        text: "Task B"
      },
      href: "check-date-of-reciept",
      status: taskBStatus
    },
    {
      title: {
        text: "Task C"
      },
      href: "assess-fraud",
      status: taskCStatus
    }
  ]
}) }}
<!-- 
<p>Task A: {{ data['taskAStatus'] }}</p>
<p>Task B: {{ data['taskBStatus'] }}</p>
<p>Task C: {{ data['taskCStatus'] }}</p> -->


{% endblock %}