{% extends "layouts/agent-main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Claim not found
      </h1>

      <form class="form" action="registration-tasks" method="post">

         <p>
          We were unable to find a claim that matched the NINO provided
        </p>

        {{ govukButton({
          text: "Register a claim"
        }) }}

         <p>
          <a href="https://design-system.service.gov.uk">Search again</a>
        </p>

      </form>

    </div>
  </div>

{% endblock %}
