{% extends "layouts/agent-main.html" %}

{% block pageTitle %}
  Edit claim information – {{ serviceName }}
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

      <h1 class="govuk-heading-l">
        Partner details
      </h1>

       {{ govukInput({
        label: {
          text: "National Insurance number"
        },
        
        id: "partner-nino",
        classes: "govuk-input--width-10",
        name: "customerNino",
        value: "PJ 12 34 56 C"
      }) }}

      {{ govukSelect({
        id: "partner-title",
        name: "partnerTitle",
        label: {
          text: "Title"
        },
        items: [
          { value: "Mr", text: "Mr", selected: true },
          { value: "Ms", text: "Ms" },
          { value: "Mrs", text: "Mrs" },
          { value: "Miss", text: "Miss" },
          { value: "Dr", text: "Dr" }
        ]
      }) }}

      
      {{ govukInput({
        label: {
          text: "First name"
        },
        classes: "govuk-input--width-20",
        id: "first-name",
        name: "firstName",
        autocomplete: "name",
        spellcheck: false
      }) }}


            {{ govukInput({
        label: {
          text: "Middle name"
        },
        classes: "govuk-input--width-20",
        id: "first-name",
        name: "firstName",
        autocomplete: "lastname",
        spellcheck: false
      }) }}


            {{ govukInput({
        label: {
          text: "Last name"
        },
        classes: "govuk-input--width-20",
        id: "first-name",
        name: "firstName",
        autocomplete: "lastname",
        spellcheck: false
      }) }}




  

      {{ govukButton({
        text: "Save"
      }) }}

    </form>

  </div>
</div>

{% endblock %}