{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% set bodyClasses = "agent-layout" %}

{% block header %}
  {{ govukHeader({
    serviceName: "Carer's Allowance Agent Service"
  }) }}
{% endblock %}


{% block footer %}
{{
    dwpFooter({
        meta: {
            visuallyHiddenTitle: "About this website",
            items: [
            {
                href: "",
                text: "Accessibility statement"
            },
            {
                href: "",
                text: "Privacy"
            },
            {
                href: "/manage-prototype/clear-data",
                text: "Clear data"
              }
            ]
        }
    }) 
}}
{% endblock %}
